*{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image: url(./assets/fondo1.jpg);
    background-size: cover;
    
}

#titulo{
    justify-content: center;
    text-align: center;
    padding-top: 2px;
    border: solid 1px brown;
    border-radius: 25px;
    background-color: #000000;
    color: white;
}

.imagen{
    height: 350px;
    aspect-ratio: 1/1;
    border-radius: 24px;
}

.btn{
    opacity: 0.95;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: larger;
}

.enlace{
    text-decoration: none;
    color: black;
}