*{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image: url(./recursos/fondo.jpg);
    background-size: cover;
    
}

#titulo{
    text-align: center;
    align-content: center;
}

#cuerpo1{
    width: 400px;
    height: 550px;
}

#piezas {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
    justify-content: center;
}

#puzzle1 {
    border: 1px solid black;
    width: 175px;
    height: 550px;
}

#puzzle2 {
    border: 1px solid black;
    width: 175px;
    height: 550px;
}

.pieza {
    width: 175px;
    height: 55px;
    background-size: cover;
    margin: 10px;
}

.placeholder {
    background-color: #F2F2F2;
    outline: 1px solid #333;
    width: 175px;
    height: 55px;
    transition: 1s;
}

.placeholder.hover {
    background-color: orange;
}

.placeholder .pieza {
    margin: 0;
}

#mensaje {
    color: black;
    text-align: center;
    display: none;
}

.ganaste {
    background-color: #B3D67C;
}

.ganaste #mensaje {
    display: block;
}

.ganaste .placeholder {
    outline: none;
}

.ganaste #piezas {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}